---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter properties into the page #}

<div class="wrapper post">
  <div>
    {# The post front matter includes the title property #}
    <h1 class='postTitle'>{{eleventyNavigation.key}}</h1>

    {# ADD P ELEMENT FROM TODO ON THE NEXT LINE #}
    
    {# Content from the body of the post markdown appears here #}
    {{ content | latex | safe }}
    <div class="controls">

    {# The previous and next post data is added in .eleventy.js #}
      {% if "parent" in eleventyNavigation %}
          <h3>
            Parent post:
      </h3>
          {{  collections.all | eleventyNavigation(eleventyNavigation.parent) | eleventyNavigationToHtml | safe }}
      {% endif %}
      {% set postdata = collections.all | eleventyNavigation(eleventyNavigation.key)  %}
      {% if postdata|length %}
          <h3>
            Descendent posts:
          </h3>
          {{  postdata | eleventyNavigationToHtml | safe }}

      {% endif %}
      
      
    </div>
  </div>
</div>